{% extends 'base.html.twig' %}

{% block title %}ajout client{% endblock %}

{% block content %}
<div class="panel-header bg-primary-gradient">
        <div class="page-inner py-5">
            <div class="d-flex align-items-left align-items-md-center flex-column flex-md-row">
                <div>
                    <h2 class="text-white pb-2 fw-bold">Ajouter un nouveau client physique</h2>
                </div>
            </div>
        </div>
    </div>
    <div class="page-inner">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">
                        <div class="card-title">Formulaire d'ajout</div>
                    </div>
                        <div class="card-body">
                            {{ form_start(form, {'action':path('client_physique'),'method':'POST','attr': {'class': 'row'}})}}
                                <div class="col-md-6 col-lg-4 ">{{ form_row(form.nom) }}</div>
                                <div class="col-md-6 col-lg-4 ">{{ form_row(form.prenom) }}</div>
                                <div class="col-md-6 col-lg-4 ">{{ form_row(form.matricule) }}</div>
                                <div class="col-md-6 col-lg-4 ">{{ form_row(form.cin) }}</div>
                                <div class="col-md-6 col-lg-4 ">{{ form_row(form.sexe) }}</div>
                                <div class="col-md-6 col-lg-4 ">{{ form_row(form.dateNaissance) }}</div>
                                <div class="col-md-6 col-lg-4 ">{{ form_row(form.telephone) }}</div>
                                <div class="col-md-6 col-lg-4 ">{{ form_row(form.adresse) }}</div>
                                <div class="col-md-6 col-lg-4 ">{{ form_row(form.email) }}</div>
                                <div class="col-md-6 form-group">
                                    <button class="btn btn-success">Enregistrer</button>
                                    <button type="reset" class="btn btn-danger">Annuler</button>
                                </div>
                            {{ form_end(form) }}
                        </div>
                    </div>
                </div>
            </div>
		</div>
    </div>
{% endblock %}


